<div id="{{id}}" class="facets-facet-base facets-facet-horizontal
{{#if hidden}}
	facets-facet-horizontal-hidden
{{/if}}
">
	<div class="facet-range">
        <svg class="facet-histogram"></svg>
        <div class="facet-range-filter facet-range-filter-init">
            <div class="facet-range-filter-slider facet-range-filter-left">
            </div>
            <div class="facet-range-filter-slider facet-range-filter-right">
            </div>
        </div>
	</div>
    <div class="facet-range-labels">
        <div class="facet-range-label">{{leftRangeLabel}}</div>
        <div class="facet-range-label">{{rightRangeLabel}}</div>
    </div>
    <div class="facet-range-controls">
        <div class="facet-page-left facet-page-ctrl">
            <i class="fa fa-chevron-left"></i>
        </div>
        <div class="facet-range-current">
			{{leftRangeLabel}} - {{rightRangeLabel}}
        </div>
        <div class="facet-page-right facet-page-ctrl">
            <i class="fa fa-chevron-right"></i>
        </div>
    </div>
</div>
