<div id="{{id}}" class="facets-facet-base facets-facet-vertical
{{#if hidden}}
	facets-facet-vertical-hidden
{{/if}}
">
    <div class="facet-icon">
		{{> facetVertical_icon}}
    </div>
    <div class="facet-block">
        <div class="facet-bar-container">
			{{> facetVertical_bar}}
        </div>
        <div class="facet-label-container">
            <span class="facet-label-count">
				{{#if countLabel}}
                    {{{countLabel}}}
				{{else}}
					{{count}}
				{{/if}}
			</span>
			<span class="facet-query-close">
	        {{> facetVertical_queryClose}}
	    </span>
			<span class="facet-search-container">
				{{> facetVertical_search}}
			</span>
			<span class="facet-links">
			 {{> facetVertical_links}}
		 </span>
			<span class="facet-label">
				{{#if displayValue}}
					{{{displayValue}}}
				{{else if label}}
					{{{label}}}
				{{else}}
					{{{value}}}
				{{/if}}
			</span>
      </div>
    </div>
</div>
